#tom1 {
  height: 250px;
  width:250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#cymbal1 {
  height: 250px;
  width:250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#snare {
  height: 250px;
  width:250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#kick {
  height: 250px;
  width:250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#hihat {
  height: 250px;
  width:250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#cymbal2 {
  height: 250px;
  width:250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#tom2 {
  height: 250px;
  width:250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
